.pagination{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.button {
    --border-style: solid;
    --border-width: 1px;
}

.active{
    --color: #fff;

    --border-color: linear-gradient(to right, #FF30AC, #C882FF);
    --background: linear-gradient(to right, #FF30AC, #C882FF);

    cursor: pointer;
}