.banner {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;
}

.item {
    display: flex;

    width: 100%;
    gap: 12px;
}

.extra {
    font-size: 12px;
    color: #6c7072;
}

.img-banner{
    padding-top: 100%;

}

.img-item{
    min-width: 64px;
    min-height: 64px;

    max-width: 64px;
    max-height: 64px;
}
