.button {
    --border-style: solid;
    --border-width: 1px;

    &:hover {
        --color: #fff;

        --border-color: #ff30ac;
        --background: #ff30ac;
    }
}

.active {
    --color: #fff;

    --border-color: #ff30ac;
    --background: #ff30ac;
}
